@media only screen and (min-width: 500px) {
    .container {

        margin-left: 60px;
        margin-right: 60px
    }

    .middel_second {
margin-left: 30px
    }
    .middel p{
  margin: 0 50px
    }

    #top_pattens {

        right: -33%;
        top: 60%;

    }

    #top_top_pattens {

        right: -30%;
        top: -40%;

    }
#lower_pattens {
    height: 500px;
    position: absolute;
    opacity: 0.2;
    left: -400px;
    top: 237%
}

}


@media only screen and (min-width: 640px) {
    .container {
        margin-left: 70px;
        margin-right: 70px
    }

    .middel_second {


        margin-top: 50px;
    }

    #lower_pattens {
        height: 500px;
        position: absolute;
        opacity: 0.2;
        left: -400px;
        top: 207%
    }


    footer {
        background-color: hsl(233, 12%, 13%);
        position: relative;
        height: 55vh;
        margin-top: -50px
    }
}


@media only screen and (min-width: 769px) {
    .container {
        margin-left: 100px;
        margin-right: 100px
    }

    .middel_second {

     
        margin-top: 50px;
    }

    .reviews_tab {
        margin-left: 100px;
        margin-right: 100px
    }
}



@media only screen and (min-width: 800px) {
    .container {
        margin-left: 50px;
        margin-right: 50px
    }
 


    .middel_second {

       
        margin-top: 50px;
    }

    #first_btn {
        float: left;
        margin-left: 50px
    }

    .reviews_tab {
        margin-left: 50px;
        margin-right: 50px
    }



    .top_main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;

    }
footer {
    background-color: hsl(233, 12%, 13%);
    position: relative;
    height: 100vh;
    margin-top: 0px
}




    #top_top_pattens {
        position: absolute;
        height: 450px;
        right: -10%;
        top: -50%;

    }

    #top_pattens {
        position: absolute;
        height: 400px;
        right: 77%;
        top: 260%;
        z-index: -1
    }
    
    #lower_pattens {
    height: 500px;
    position: absolute;
    opacity: 0.2;
    left: -400px;
    top: 267%
}


    .main_top_text {
        width: 300px;
        text-align: left
    }

    .top_main img {
        margin-left: 100px
    }

    .top_main h1 {

        text-align: left
    }


    .top_main p {

        text-align: left
    }


    .section_two {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: -190px;
   margin-right: 50px
    }

    .middel {
        margin-top: 30px;
        margin-left: -140px;
        
    }
    

    .middel h2,
    .middel p {
        text-align: left
    }

    .middel_second h3 {
        background-color: white;
        width: 100%;
        padding: 9px 0;

    }

    #shanai,
    #richard,
    #anisha {
        display: block;
    }

    .reviews {
        display: grid;
        grid-template-columns: 50% 50%;


    }

    .reviews_tab {
        background-color: hsl(0, 0%, 98%);
        margin-top: 100px;
        margin: 40px 50px
    }

    .slider_dots li {
        display: none
    }

       .middel_second {

margin-top: 50px;
          margin-left: 100px;
            margin-right: 10px
    }
    .middel p{
       width: 80%;
        margin-left: 0
    }

}

@media only screen and (min-width: 1000px) {
  
   .desktop_nav{
        display: block;
        float: right
        
    }
    .desktop_menu button{
 height: 44px;
        width: 120px;
        padding:  5px 20px;
    font-family: 'Be Vietnam', sans-serif;
    border-radius: 50px;
    background-color: hsl(12, 88%, 59%);
    color: white;
    border: none;
    font-size: 16px;
      position: absolute;
        right: 0px;
        display: block;
        margin-top: 5px
    
        
    }
    
    .desktop_menu button:hover{
        opacity: 0.7;
        cursor: pointer;
        
    }
    .desktop_menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: -15px
    }
    .desktop_nav li{
        display: inline-block;
            font-family: 'Be Vietnam', sans-serif;
        margin: 0px 10px
    }
    
     .desktop_nav li:hover{
   color: hsl(227, 12%, 61%);
          cursor: pointer;
    }
    .mobile_nav {
    display: none
}
    
    
}

@media only screen and (min-width: 1049px) {
    .container {
        margin-left: 50px;
        margin-right: 50px
    }

    .middel_md_section {
        margin-left: 50px;
        margin-right: 50px
    }

    #first_btn {
        float: left;
        margin-left: 50px
    }

    .lower_section {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 60px;
        padding-bottom: 90px;

    }

    #lower_pattens {
        height: 400px;
        position: absolute;
        opacity: 0.1;
        left: 100px;
   top: 260%;
    }

    .footer_section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .menus li {
        position: relative;
        right: 50px;
        margin-left: 50px
    }

    .icons img {
        position: relative;
        top: 250px;
        right: 100px
    }

    .footer_logo {
        position: relative;
        left: 80px
    }

    .footer_bottom p {
        font-weight: 400;
        font-size: 14px;
        float: right;
        top: 0;
        margin-right: 40px
    }

    form {
        margin-right: 40px
    }

    input {
        height: 50px;
        width: 50%;
        padding: 00px 20px;
        border-radius: 70px
    }

    .icons img {
        height: 26px;
        margin: 0 5px
    }

    footer {
        background-color: hsl(233, 12%, 13%);
        position: relative;
        height: 45vh;
        margin-top: -50px
    }

    .main_top_image img {
        height: 390px;

    }

    .section_two {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: -260px
    }
       .middel_second {

margin-top: 50px;
          margin-left: 100px;
            margin-right: 10px
    }
    .middel p{
       width: 80%;
        margin-left: 0
    }
}





@media only screen and (min-width: 1140px) {
    .container {
        margin-left: 100px;
        margin-right: 100px;
    }

    .middel_md_section {
        margin-left: 100px;
        margin-right: 100px
    }

    #first_btn {
        float: left;
        margin-left: 100px
    }

    .reviews {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 60px;
        margin-right: 60px
    }

    .reviews_tab {
        background-color: hsl(0, 0%, 98%);
        margin-top: 100px;
        margin: 40px 15px
    }

    #top_top_pattens {
        position: absolute;
        height: 650px;
        right: -10%;
        top: -57%;

    }

    #top_pattens {
        position: absolute;
        height: 550px;
        right: 80%;
        top: 180%;
        z-index: -1
    }

    #lower_pattens {
        height: 400px;
        position: absolute;
        opacity: 0.1;
        left: 400px;
        top: 226%
    }



    .lower_section button {

        margin-top: 0px
    }
    
    
    .section_two {
  
   margin-right: 100px
    }

    
       .middel_second {

margin-top: 50px;
          margin-left: 100px;
            margin-right: 10px
    }
    .middel p{
       width: 80%;
        margin-left: 0
    }
}


@media only screen and (min-width: 1540px) {
    .container {
        margin-left: 200px;
        margin-right: 200px;
    }

    .middel_md_section {
        margin-left: 200px;
        margin-right: 200px
    }

    #first_btn {
        float: left;
        margin-left: 200px
    }

    .middel_second {
        margin-top: 50px;
      

    }
    
    

    .main_top_image img {
        height: 390px;

    }

    #top_top_pattens {
        position: absolute;
        height: 650px;
        right: -10%;
        top: -97%;

    }

    #top_pattens {
        position: absolute;
        height: 550px;
        right: 90%;
        top: 180%;
        z-index: -1
    }

    #lower_pattens {
        height: 400px;
        position: absolute;
        opacity: 0.1;
        left: 600px;
        top: 190%
    }
    
        .middel_second {

margin-top: 50px;
          margin-left: 100px;
            margin-right: 190px
    }
    .middel p{
       width: 50%;
        margin-left: 0
    }
    .main_top_image img {
    height: 320px;

}

}



@media only screen and (min-width: 2140px) {
    .container {
        margin-left: 400px;
        margin-right: 400px;
    }

    .middel_md_section {
        margin-left: 400px;
        margin-right: 400px
    }

    
    .section_two {
      
   margin-right: 200px
    }

   
    
    .lower_section h1 {
        margin-left: 400px;

    }

    .lower_section button {
        margin-right: 400px;

    }

    .footer_section,
    .footer_bottom {
        margin-left: 400px;
        margin-right: 400px
    }


    #first_btn {
        float: left;
        margin-left: 400px
    }

    

    .main_top_image img {
        height: 490px!important;
        margin-left: 300px
    }


    #top_top_pattens {
        position: absolute;
        height: 1000px;
        right:0%;
        top: -85%;

    }

    #top_pattens {
        position: absolute;
        height: 950px;
        right: 80%;
        top: 180%;
        z-index: -1
    }

    #lower_pattens {
        height: 400px;
        position: absolute;
        opacity: 0.1;
        left: 600px;
        top: 226%
    }

    .top_main h1{
        font-size: 40px
    }
    
    
     .top_main p{
        font-size: 20px
    }
    .main_top_text{
        margin: 0;
        width: 30%
    }

}
